@import '../../styles/colors.scss';
@import '../../styles/utility.scss';

$randColor: floor(random(16777215));

@function dec-to-hex($d) {
  $hexVals: 'A' 'B' 'C' 'D' 'E' 'F';
  $base: 16;
  $quotient: $d;
  $result: '';
  @if $d == 0 {
    $result: '00';
  }
  @while $quotient != 0 {
    $mod: $quotient % $base;
    $quotient: floor($quotient / $base);
    @if $mod > 9 {
      $mod: nth($hexVals, $mod - 9);
    }
    @if $d < $base {
      $result: '0' + $mod;
    } @else {
      $result: $mod + $result;
    }
  }
  @return #{'#' + $result};
}
// #fff
.truckWrapper {
  display: flex;
  //   flex-direction: row;
  overflow-x: scroll;
  padding: 2rem 3rem;
  margin-bottom: 1rem;
  //   background-color: dec-to-hex(floor(random(16777215)));
  //   color: #9f87de;
}

.truck {
  flex: 0 0 40%;
  height: 15rem;
  /* width: 15rem; */

  //   color: $dimgrey;
  color: #fff;
  &:not(last-child) {
    margin-right: 2.5rem;
  }
}

.activeTruck {
  outline: $orange-light solid 0.5rem;
}

.search {
  position: relative;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}

.searchIcon {
  @include searchIcon;
}

.input {
  @include inputWithSearch;
}

.truckLabel {
  font-size: 1.8rem;
  & span {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}
