@import '../../../styles/colors.scss';
@import '../../../styles/utility.scss';

.customerWrapper {
  display: flex;
  margin-top: 2rem;
}

.customerImgWrapper {
  flex: 0 0 20%;
  text-align: center;
}

.customerImg {
  height: 8rem;
  width: 8rem;
  background-color: brown;
}

.customerNameWrapper {
  flex: 0 0 80%;
}

.customerInputWrapper {
  display: flex;
  align-items: center;
}

.customerName {
  // font-size: 3rem;
  // font-weight: bold;
  margin-right: 1rem;
  flex: 1;
  &Display {
    font-size: 3rem;
    font-weight: bold;
    margin-right: 1rem;
  }
}

.searchIconButton {
  @include searchIcon;
  top: 0.7rem;
  left: 0.8rem;
  color: #fff;
}
