@import '../../../styles/colors.scss';

.truckComponent {
  margin-bottom: 1rem;
  background-color: $util-background1;
  border-radius: 0.6rem;
  box-shadow: $box-shadows-1;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  position: relative;
}

.view {
  padding: 2rem;
}

.errorMessage {
  padding: 4rem 5rem;
}