@import '../../../styles/colors.scss';

.totalWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 7rem;
    line-height: 1;
    & div:last-child {
      font-size: 10rem;
      margin-left: 3rem;
      font-weight: bold;
    }
  }

  .table {
    width: 100%;
    text-align: center;
    
    &CreditSummary {
      background-color: $orange-light;
      color: #fff;
    }
  }

  .discountWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height: 1;
    & div:last-child {
      font-size: 5rem;
      margin-left: 2rem;
    }
  }

  .tableWrapper {
    margin-top: 2rem;
    font-size: 2rem;
  }

  .tableCreditSummaryTable {
    width: 100%;
    border-spacing: 0;
    text-align: center;
    & thead,
    & tbody,
    & tr,
    & th,
    & td {
      display: block;
    }
    &thead tr {
      /* fallback */
      width: 97%;
      /* minus scroll bar width */
      width: -webkit-calc(100% - 16px);
      width: -moz-calc(100% - 16px);
      width: calc(100% - 16px);
    }
    & tr:after {
      /* clearing float */
      content: ' ';
      display: block;
      visibility: hidden;
      clear: both;
    }
    & tbody {
      height: 10rem;
      overflow-y: auto;
      overflow-x: hidden;
    }
    & tbody td,
    & thead th {
      width: 33.333334%; /* 49% is less than (100% / 5 cols) = 20% */
      float: left;
    }
  }

  .belowWrapper {
    font-size: 1.8rem;
    & div {
      display: flex;
      justify-content: flex-end;
      & div {
        margin-left: 1rem;
      }
    }
  }

  .creditButton {
    text-align: right;
    margin-top: 1rem;
  }

  .rowClick{
    cursor: pointer;
    transition: all .4s;
    &:hover{
      background-color: $orange-light;
    }
  }