@import '../../../styles/colors.scss';

.ulDefault {
  list-style-type: none;
  width: 60%;
  // border: 1px solid #b6b6b6;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: $box-shadows-2;
}

.ulNavigation {
  width: 100%;
  overflow: auto;
  & a {
    text-decoration: none;
    color: white;
  }
}
