@import '../../styles/colors.scss';

.customerWrapper {
  flex: 0 0 49%;
}

.summaryHead {
  margin-left: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: $grey;
  margin-bottom: 1rem;
}

.summaryBody {
  font-size: 4rem;
  font-weight: bold;
  margin-right: 2rem;
  text-align: right;
}
