@import './../../../../styles/colors.scss';
@import './../../../../styles/utility.scss';

.out{
    position: relative;
}
.circle{
    content: "";
    display: inline-block;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background-color: $cat-light-green;
    position: fixed;
    z-index: -1000;
    top: 450px;
    left: -100px;
}

.triangle{
    content: "";
    display: inline-block;
    width: 50rem;
    height: 40rem;
    background-color: $cat-dark-blue;
    -webkit-clip-path: polygon(100% 18%, 0 75%, 100% 87%);
    clip-path: polygon(100% 18%, 0 75%, 100% 87%);
    position: fixed;
    z-index: -1000;
    top: -86px;
    right: -5px;

}

.innerBody{
    background-color: #fff;
    border-radius: 10px;
    width: 86%;
    margin-left: 7%;
    margin-top: 5%;
    overflow: hidden;
    position: relative;
}

.logo{
    margin-bottom: 6rem;
}

.login{
    float: left;
}

.login, .regis{
    width: 35%;
    height: 57.5rem;
    background-color: $cat-yellow;
    color: #fff;
}

.regis {
    // animation: logintoreg 1s;
    animation-fill-mode: forwards;
    z-index: 1000;
}

.loginCenter{
    text-align: center;
    padding: 5rem 0;

    & > div:first-child{
        font-size: 4rem;
        font-weight: 700;
        margin: 1rem 0;
        text-transform: capitalize;
    }

    & > div:nth-child(2){
        text-transform: capitalize;
        padding: 1.5rem 0;
        font-size: 1.4rem;
        margin-bottom: 3rem;
    }
}

.register {
    width: 65%;
    height: 57.5rem;
    float: right;
}

.register, .logs {
    & > div:first-child {
        text-align: center;
        padding: 5rem 10rem;
    }
}

.logs{
    animation: regtologin 1s;
    animation-fill-mode: forwards;
}

.regTitle{
    font-size: 4rem;
        font-weight: 700;
        margin: 1rem 0;
        text-transform: capitalize;
        color: $cat-yellow; 
}

.buttonWrap {
    margin: 1.5rem 0;
    & button {
        margin: 0 1rem;
    }
}

.field{
    position: relative;
    text-align: center;
    width: 100%;

    & svg{
        fill: $grey;
    }
}

.form{
    display: flex;
    flex-direction: column;

    & input {
        @include inputWithIcon;
        border: 1px solid transparent;
        margin-bottom: 1rem;
        background-color: $cat-yellow-light;

        &:focus {
            outline-color: $cat-dark-blue;
        }
    }

    & span {
        @include inputItcon;
    }

    & button{
        text-transform: uppercase;
        padding: 1.3rem 5rem;
        margin-top: 1rem;
    }
}

@keyframes logintoreg {

    0%{
        transform: translateX(0);
    }

    100% {
        transform: translateX(59.1rem);
        float: left;
    }

} 

@keyframes regtologin{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-32.3rem);
        float: right;
    }
}