@import '../../styles/colors.scss';

.cutomerMain {
  padding: 1.5rem 2rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: $box-shadows-1;
  margin-top: 2rem;
  position: relative;
}

.customerBody {
  margin-top: 3rem;
}
