@import '../../../styles/colors.scss';

.modal {
    padding: 2rem 3rem;
    position: absolute;
    top: 25%;
    margin-left: 5%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    border-radius: .5rem;
    width: 80%;
    background-color: #fff;
    z-index: 3000;
    box-shadow: $box-shadows-1
}