@import '../../../styles/colors.scss';

.supplyRow {
  display: flex;
}
.inputWrap {
  margin-left: 2rem;
  padding: 1rem;
  width: 100%;
}
.inputSupplyFlex {
  display: flex;
}

.supplyWrapperHead {
  padding: 2rem 2.5rem;
  background-color: $util-background1;
  border-radius: 0.6rem;
  box-shadow: $box-shadows-1;
  margin-top: 6rem;
}
.supplyWrapper {
  display: flex;
  margin-top: 3rem;
}
