@import '../../styles/colors.scss';
@import '../../styles/utility.scss';

.popupWrapper {
  position: relative;
  padding: 2rem 3rem;
  font-size: 3rem;
  text-transform: uppercase;
  border: 1px solid $dimgrey;
  border-radius: 5px;
  box-shadow: $box-shadows-2;
  font-weight: bold;
  z-index: 3000;
  background-color: #fff;
  width: 100%;
  & > button {
    font-size: 1.6rem;
    // background-color: red;
  }
}

.closeButton {
  position: absolute;
  background: #492f27;
  color: white;
  font-size: 2.4rem;
  padding: 0.5rem;
  width: 4rem;
  height: 4rem;
  top: -10px;
  right: -10px;
  border-radius: 50%;
}

.actionWrapper {
  font-weight: 300;
}

.header {
  padding: 1rem;
  text-align: center;
  color: #fff;
  &Green {
    background-color: $green-solid;
  }
  &Blue {
    background-color: $blue-solid;
  }
  &Red {
    background-color: $red-solid;
  }
  &Violet {
    background-color: $violet-solid;
  }
  &Orange {
    background-color: $orange-solid;
  }
}

.totalWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 7rem;
  line-height: 1;
  & div:last-child {
    font-size: 10rem;
    margin-left: 3rem;
    font-weight: bold;
  }
}

.discountWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 1;
  & div:last-child {
    font-size: 5rem;
    margin-left: 2rem;
  }
}

.paymentWrapper,
.discountFormWrapper {
  display: flex;
  // align-content: center;
  align-items: center;
  & div:nth-child(2n) {
    width: 50%;
    margin: 0 3rem;
  }
  & input {
    font-size: 4rem;
    border: 1px solid $blue-light;
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
  }
}

.discountFormWrapper {
  margin-top: 2rem;
}

.changeWrapper {
  display: flex;
  align-items: center;
  & div:last-child {
    font-size: 5rem;
    margin-left: 3rem;
  }
}

.belowWrapper {
  font-size: 1.8rem;
  & div {
    display: flex;
    justify-content: flex-end;
    & div {
      margin-left: 1rem;
    }
  }
}

.tableWrapper {
  margin-top: 2rem;
  font-size: 2rem;
}

.editButtonWrapper {
  text-align: center;
}
// .quantityWrapper {
//   display: flex;
// }

.table {
  width: 100%;
  text-align: center;
  &Head {
    background-color: $red-light;
    color: #fff;
  }
  &Credit {
    background-color: $blue-light;
    color: #fff;
  }
  &CreditSummary {
    background-color: $orange-light;
    color: #fff;
  }
}
.tableCreditSummaryTable {
  width: 100%;
  border-spacing: 0;
  text-align: center;
  & thead,
  & tbody,
  & tr,
  & th,
  & td {
    display: block;
  }
  &thead tr {
    /* fallback */
    width: 97%;
    /* minus scroll bar width */
    width: -webkit-calc(100% - 16px);
    width: -moz-calc(100% - 16px);
    width: calc(100% - 16px);
  }
  & tr:after {
    /* clearing float */
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
  }
  & tbody {
    height: 10rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
  & tbody td,
  & thead th {
    width: 50%; /* 49% is less than (100% / 5 cols) = 20% */
    float: left;
  }
}

.activeRow {
  margin-top: 2rem;
}

.creditButton {
  text-align: right;
  margin-top: 1rem;
}

.blink {
  animation: blink 0.5s infinite;
}

@keyframes blink {
  0% {
    color: black;
  }
  100% {
    color: #fff;
  }
}
