// GREY
$superlightgrey: #f7f7f7;
$gainsboro: #dcdcdc;
$lightgrey: #d3d3d3;
$silver: #c0c0c0;
$darkgrey: #a9a9a9;
$grey: #808080;
$dimgrey: #696969;
$lightslategrey: #778899;
$slategrey: #708090;
$darkslategrey: #2f4f4f;

// MAIN

$cat-light-green: #a1b98d;
$cat-light-blue: #509596;
$cat-dark-blue: #0f2734;
$cat-yellow: #f0b823;
$cat-brown: #492f27;

// UTIL COLORS
$util-background1: #ffffff;

//BOX SHADOWS
$box-shadows-1: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
$box-shadows-2: 0 5px 3px 1px rgba(0, 0, 0, 0.11);
