// GREY
$whitesmoke:#fbfbfb;
$superlightgrey: #f7f7f7;
$seprator: #e9ebee;
$gainsboro: #dcdcdc;
$lightgrey: #d3d3d3;
$silver: #c0c0c0;
$darkgrey: #a9a9a9;
$grey: #808080;
$dimgrey: #696969;
$lightslategrey: #778899;
$slategrey: #708090;
$darkslategrey: #2f4f4f;

// MAIN

$cat-light-green: #a1b98d;
$cat-light-blue: #509596;
$cat-dark-blue: #0f2734;
$cat-yellow: #f0b823;
$cat-brown: #492f27;

$cat-yellow-light:#FCF1D3;

// UTIL COLORS
$util-background1: #ffffff;

//BOX SHADOWS
$box-shadows-1: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
$box-shadows-2: 0 5px 3px 1px rgba(0, 0, 0, 0.11);

// HEAD SOLID
$green-solid: #43a047;
$orange-solid: #fb8c00;
$red-solid: #e53935;
$violet-solid: #8e24aa;
$blue-solid: #00acc1;
$sea-solid: #00fb8c;

// HEAD LIGHT
$green-light: #66bb6a;
$orange-light: #ffa726;
$red-light: #ef5350;
$violet-light: #ab47bc;
$blue-light: #26c6da;
$sea-light: #19fb97;

// HEAD
$green-head: linear-gradient(60deg, $green-solid, $green-light);
$orange-head: linear-gradient(60deg, $orange-solid, $orange-light);
$red-head: linear-gradient(60deg, $red-solid, $red-light);
$violet-head: linear-gradient(60deg, $violet-solid, $violet-light);
$blue-head: linear-gradient(60deg, $blue-solid, $blue-light);
$sea-head: linear-gradient(60deg, $sea-solid, $sea-light);

//HEAD SHADOWS:
$green-head-shadows: rgba(76, 175, 80, 0.4);
$orange-head-shadows: rgba(255, 152, 0, 0.4);
$red-head-shadows: rgba(244, 67, 54, 0.4);
$violet-head-shadows: rgba(156, 39, 176, 0.4);
$blue-head-shadows: rgba(0, 172, 193, 0.4);

@mixin head-shadows($color) {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px $color;
}

@mixin input-color($solid, $light) {
  border: 1px solid $light;
  width: 100%;
  &:focus {
    outline-color: $solid;
  }
}
