@import '../../../styles/colors.scss';
@import '../../../styles/utility.scss';

.wrapper {
    padding: 1rem 2rem;
}

.inputSearcher{
    margin-top: 2rem;
    width: 60%;
    margin-left: 20%;
    & input {
        @include inputWithSearch;
        border: 1px solid $blue-light;
        width: 90%;
    }
}

.resultsWrapper {
    padding: 1rem 2rem;
}

.result{
    color: $slategrey;
    padding: .7rem 1rem;
    border-radius: 3px;
    margin: .5rem 0;
    border: 1px solid transparent;
    background-color: $superlightgrey;
    transition: all .3s;

    &:hover{
        cursor: pointer;
        color: #fff;
        background-color: $blue-light;
        border: 1px solid $blue-light;
    }

    & > div {
        display: flex;
        justify-content: space-between;
    }

    & p {
        text-transform: uppercase;
        font-size: 1.7rem;
    }
}