@import '../../../styles/colors.scss';
@import '../../../styles/utility.scss';

.wrapper {
    padding: 1rem 2rem;
}

.inputSearcher{
    margin-top: 2rem;
    width: 60%;
    margin-left: 20%;
    & input {
        @include inputWithSearch;
        border: 1px solid $blue-light;
        width: 90%;
    }
}

.resultsWrapper {
    padding: 1rem 2rem;
}

.result{
    color: $slategrey;
    padding: .7rem 1rem;
    border-radius: 3px;
    margin: .5rem 0;
    border: 1px solid transparent;
    background-color: $superlightgrey;
    transition: all .3s;

    &:hover{
        cursor: pointer;
        color: #fff;
        background-color: $blue-light;
        border: 1px solid $blue-light;
    }

    & > div {
        display: flex;
        justify-content: space-between;
    }

    & p {
        text-transform: uppercase;
        font-size: 1.7rem;
    }
}

.CreditWrapper{
    &  > div:first-child {
        padding: 4rem 1.5rem;
        background-color: $blue-light;
        color:#fff;
        font-size: 4rem;
    }
}

.invoiceHeading{
    display: flex;
    justify-content: space-between;
    padding: 4rem 2rem;

    & > div:last-child {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 40%;
        text-align: right;
    }

    & > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
     & p {
         text-transform: capitalize;
     }

     & p:first-of-type{
         margin-bottom: 1rem;
         color: $grey;
     }
}

.total{
    font-size: 5rem;
    color: $blue-light;
}

.table {

    & table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
    }

    & th {
        color: $blue-light;
        border-top: 4px solid $blue-light;
        padding: 2rem 1rem;
    }

    & tbody > tr:not(:last-child) {
        border-bottom: 1px solid $lightgrey;
        
    }

    & td {
        text-transform: capitalize;
        padding: 2rem 1rem;
    }
}

.subTotal {
    & td {
        padding-top: 7rem;
    }
    
    &  td:nth-child(3) {
        color: $blue-light;
    }
}