@import '../../../styles/colors.scss';

.button {
  padding: 1rem;
  font-size: inherit;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &Main {
    background-color: $green-solid;
    color: #fff;
  }
  &Close {
    position: absolute;
    background: $cat-brown;
    color: white;
    padding: 0.5rem;
    width: 3rem;
    height: 3rem;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    // border: none;
  }
  &SupplyLink,
  &SupplyLinkAdd {
    background-color: $superlightgrey;
    color: $dimgrey;
    width: 100%;
    text-transform: uppercase;
    border-radius: 0;
    text-align: justify;
    transition: all 0.3s;
    &:active,
    &active {
      background-color: $orange-light;
      outline: none;
      // color: $superlightgrey;
      font-weight: 600;
    }
    &:hover {
      background-color: $orange-light;
    }
    &available {
      background-color: $cat-light-green;
    }
    &:disabled {
      background-color: $grey;
      cursor: no-drop;
    }
  }
  &SupplyLinkAdd {
    border-top: 1px solid $dimgrey;
    text-align: center;
    // background: $orange-head;
  }
  &checkMark {
    background-color: $orange-solid;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    color: #fff;
  }
  &nav,
  &headButton {
    background-color: transparent;
  }
  &headButton {
    color: $superlightgrey;
    &Active {
      background-color: rgba(255, 255, 255, 0.2);
      color: $superlightgrey;
    }
  }
  &mainSave {
    background-color: $orange-solid;
    color: #fff;
  }
  &delete,
  &edit {
    // padding: 0.5rem;
    color: #fff;
  }
  &delete {
    background-color: $red-light;
  }
  &edit {
    background-color: $blue-light;
  }
  &saveEdit {
    background-color: $orange-light;
  }
  &posButton {
    width: 90%;
  }
  &posButtonAction {
    flex: auto;
    color: #fff;
    border-radius: 0;
    height: 8rem;
    text-transform: uppercase;
    margin-top: -10rem;
    transition: height 0.5s;
    transform: rotatex(180deg) translate3d(0, -20rem, 0);
    transform-origin: top;
    &:hover {
      height: 10rem;
    }
    &:not(:last-child) {
      flex: 1;
    }
    &:last-child {
      flex: 0 0 100%;
      margin-top: -12rem;
    }
  }
  &smallUp,
  &smallDown {
    padding: 0;
    background-color: transparent;
    font-size: 1.1rem;
    line-height: 0.9;
    color: #fff;
  }
  &smallDown {
    transform: rotate(180deg);
  }
  &searchCustomerPOS {
    position: relative;
    height: 4rem;
    width: 3rem;
  }
}

.color {
  color: #fff;
  &red {
    background-color: $red-light;
  }
  &orange {
    background-color: $orange-light;
  }
  &blue {
    background-color: $blue-light;
  }
  &violet {
    background-color: $violet-light;
  }
  &green {
    background-color: $green-light;
  }
  &black {
    color: $dimgrey;
  }
}
