@import '../../../../styles/colors.scss';

.headerWrapper{
    background-color: $orange-solid;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    & div {
        display: flex;
        justify-content: space-between;
    }

    & p {
        font-size: 1.7rem;
        color: #fff;
        text-transform: uppercase;
    }
}