@import '../../../styles/colors.scss';
@import '../../../styles/utility.scss';

.customerWrapper {
    width: 60%;
    margin: auto;
    border: 1px solid $red-light;
}

.title {
    padding: 1rem 1rem;
    background-color: $red-light;
    color: #fff;
    text-transform: uppercase;
}

.body {
    padding: 1rem 2rem;
    background-color: #fff;
    & > div {
        display: flex;
        padding: .5rem 0;
    }

    & > div:first-child {
        margin-left: 75%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    & > div:last-child{
        justify-content: center;
    }

    & input {
        @include inputWithSearch;
        border: 1px solid $red-light;
        width: 90%;
    }
}

.line {
    margin: 2rem;
    border: .5px solid $red-light;
}

.value{
    flex: 1;
}

.label {
    font-weight: 500;
    flex: 0 0 20%;
}

.smallHead {
    border-bottom: .5px solid $red-light;
}

.smallBody {
    background-color: $whitesmoke;
    padding: 1rem 0;
}

.deleted {
    font-weight: 500;
    padding: 2.5rem;
    font-size: 2rem;
    display: flex;
    align-items: center;

    & span {
        font-size: 3rem;
        display: inline-block;
        color: #fff;
        background-color: $red-light;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        text-align: center;
        margin-right: 1rem;
    }
}