@import '../../styles/colors.scss';

.hamBurger{
  display: none;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}
.ham{
  content: "";
  display: none;
  height: .2rem;
  width: 2rem;
  background: $dimgrey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &::before{
    content: "";
    display: inline-block;
    height: .2rem;
    width: 2rem;
    background-color: $dimgrey;
    position: absolute;
    top: -5px;
  }

  &::after{
    content: "";
    display: inline-block;
    height: .2rem;
    width: 2rem;
    background-color: $dimgrey;
    position: absolute;
    top: 5px;
  }
}

.header{
  position: relative;
}

.subhead{
  position: absolute;
  top: 5.5rem;
  right: 3.4rem;
  z-index: 3001;
  box-shadow: $box-shadows-1;

  &Container{
    background-color: #fff;
    border-radius: 5px;
    // padding: 0 1rem;
    & ul {
      list-style: none;
    }
    & li {
      padding: 1rem 0;
      cursor: pointer;
      & div{
        padding: 1rem 5rem;
      }

      & div:hover{
        background-color: $orange-solid;
      }

      // &:not(:last-child){
      //   border-bottom: 1px solid $silver;
      // }
    }
  }

  .separator{
    border-bottom: 1px solid $seprator;
    margin: 3px 7px 6px;
    padding-top: 1px;
  }
}

.notClicked {
  display: none;
}

.headNav{
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.headNavWrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  align-items: center;
  position: relative;
}

.svgWrapper {
  display: flex;
}

a {
  text-decoration: none;
  color: #555;
  font-size: 1.8rem;
}

svg {
  fill: #555;
  height: 1.8rem;
  &:hover{
    fill: #fff;
  }
}

.svgActive{
  fill: #fff;
}

@media only screen and (max-width:1138px){
  .hamBurger{
    display: inline-block;
    &:active{
      background-color: $lightgrey;
    }
  }

  .ham{
    display: inline-block;
  }
}