@import '../../styles/colors.scss';

.hamBurger{
  display: none;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}
.ham{
  content: "";
  display: none;
  height: .2rem;
  width: 2rem;
  background: $dimgrey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &::before{
    content: "";
    display: inline-block;
    height: .2rem;
    width: 2rem;
    background-color: $dimgrey;
    position: absolute;
    top: -5px;
  }

  &::after{
    content: "";
    display: inline-block;
    height: .2rem;
    width: 2rem;
    background-color: $dimgrey;
    position: absolute;
    top: 5px;
  }
}

.headNav{
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.headNavWrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  align-items: center;
  position: relative;
}

.svgWrapper {
  display: flex;
}

a {
  text-decoration: none;
  color: #555;
  font-size: 1.8rem;
}

svg {
  fill: #555;
  height: 1.8rem;
}

@media only screen and (max-width:1138px){
  .hamBurger{
    display: inline-block;
    &:active{
      background-color: $lightgrey;
    }
  }

  .ham{
    display: inline-block;
  }
}