@import '../../../styles/colors.scss';
@import '../../../styles/utility.scss';

// .Admin{

// }


  .searchWrapper {
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 80%;
  }
  
  .search {
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  .searchIcon {
    @include searchIcon;
  }
  
  .input {
    @include inputWithSearch;
    border: 1px solid $violet-light;
  }