@import '../../../../styles/colors.scss';

.transWrap{
    background-color: #fff;
    padding: 2rem 1rem;
}

.CreditWrapper{

    &  > div:first-child {
        padding: 4rem 1.5rem;
        background-color: $blue-light;
        color:#fff;
        font-size: 4rem;
    }
}

.invoiceHeading{
    display: flex;
    justify-content: space-between;
    padding: 4rem 2rem;

    & > div:last-child {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 40%;
        text-align: right;
    }

    & > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
     & p {
         text-transform: capitalize;
     }

     & p:first-of-type{
         margin-bottom: 1rem;
         color: $grey;
     }
}

.total{
    font-size: 5rem;
    color: $blue-light;
}

.table {

    & table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
    }

    & th {
        color: $blue-light;
        border-top: 4px solid $blue-light;
        padding: 2rem 1rem;
    }

    & tbody > tr:not(:last-child) {
        border-bottom: 1px solid $lightgrey;
        
    }

    & td {
        text-transform: capitalize;
        padding: 2rem 1rem;
    }
}

.subTotal {
    & td {
        padding-top: 7rem;
    }
    
    &  td:nth-child(3) {
        color: $blue-light;
    }
}

.paymentWrap{
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    & input {
        border-radius: 4px;
        font-size: 3.5rem;
        border: 1px solid $blue-light;
    }   
}

.paymentSummary{
    margin: 1.5rem 0;
    padding: 2rem 0;
    background-color: #fff;
    color: $grey;
    & table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
        & thead{
            // background-color: $darkgrey;
            & th {
              padding: .6rem;
              font-size: 1.6rem;
              text-transform: uppercase;
            }
        }
        & tbody {
            & td {
                font-size: 1.4rem;
                padding: .5rem;
            }
            // background-color: $darkgrey;
        }
    }
    & button {
        border: none;
        background-color: transparent;
        color: #fff;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:focus{
            outline: none;
        }
    }
}

.hidden, .notHidden {
    border-radius: 50%;
    font-size: 1.6rem;
    height: 2rem;
    width: 2rem;
    /* padding: .2rem; */
    border: none;
    color: $blue-light;
    background-color: #fff;
    margin-right: 1rem;
    display: inline-block;
    position: relative;
}

.hidden{
    &:after {
        content: '';
        display: inline-block;
        width: .5rem;
        height: .5rem;
        border-top: 0.2rem solid $blue-light;
        border-right: 0.2rem solid $blue-light;
        transform: rotate(45deg);
        position: absolute;
        top: 35%;
        left: 30%;
      }
}

.notHidden{
    &:after {
        content: '';
        display: inline-block;
        width: .5rem;
        height: .5rem;
        border-top: 0.2rem solid $blue-light;
        border-right: 0.2rem solid $blue-light;
        -moz-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        position: absolute;
        top: 30%;
        left: 30%;
      }
}

.toggleButton{
    background-color: $blue-light;
    border-radius: .5rem;
    /* align-items: center; */
    align-content: center;
    padding: .5rem;
}