.body {
    padding: 2rem 1rem;
    background-color: #fff;
    position: relative;

    & p {
        font-weight: bold;
        font-size: 2rem;
    }
}

.errorMessage {
    padding: 1rem;
    font-size: 1.8rem;
}