@import '../../../styles/colors.scss';

.mainHead{
    background-color: $orange-light;
    padding: 1rem;
    padding-bottom: 2rem;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-top: 1rem;
    
}

.title {
    display: flex;
    align-items: center;
    & p {
        font-size: 2rem;
        font-weight: bold;
        margin-right: 1rem;
    }
    & > div {
        margin: 0 1rem;
        font-size: 3rem;
        font-weight: 300;
    }
}

.sort {
    display: flex;
    align-items: center;
    & > div{
        margin-right: 1rem;
    }
}

.creditContent{
    padding: 1rem;
    background-color: $grey;
    margin: 1rem 0;
}

.summary {
    margin-top: 1rem;
    background-color: $grey;
    padding: 1.5rem;
    color: #fff;
    font-size: 1.8rem;
    margin-bottom: -1rem;
    display: flex;
    justify-content: space-between;
    & span {
        background-color: $orange-light;
        padding: .5rem 2rem;
        border-radius: 3px;
        margin: 0 .3rem;
    }
}

.alter{
    margin-top: 2rem;
}