@import '../../styles/colors.scss';
@import '../../styles/utility.scss';

.invoiceMain {
  padding: 1.5rem 2rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: $box-shadows-1;
  margin-top: 2rem;
}

.invoiceWrapper {
  // display: flex;
  margin-top: 3rem;
  position: relative;
  width: 100%;
  // @include clearfix;
  display: table;
  table-layout: fixed;
}

.invoiceForm {
  // flex: 0 0 50%;
  padding: 1rem;
  background-color: $superlightgrey;
  width: 50%;
  // float: left;
  display: table-cell;
}

.form {
  display: none;
}

// .hr {
//   width: 1px;
//   border: 0.5px solid #26c6da;
//   // height: 60rem;
//   float: left;
//   @include clearfix;
// }

.sales {
  // flex: 0 0 50%;
  padding: 0.5rem;
  position: relative;
  width: 50%;
  // float: left;
  border-right: 0.5px solid #26c6da;
  display: table-cell;
}

.searchWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
  margin-bottom: 3rem;
  position: relative;
}

.quantity {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid $blue-light;
  &:focus {
    outline-color: $blue-solid;
  }
}

.quantityWrap {
  flex: 0 0 20%;
}

.itemInvoice {
  flex: 0 0 75%;
}

.summaryWrapper {
  display: flex;
  margin-top: 3rem;
}

.buttonWrapper {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.button {
  flex: 0 0 50%;
  text-align: center;
}

.cashierName {
  text-align: right;
  margin-top: 3rem;
  & p:first-child {
    font-size: 2rem;
    font-weight: bold;
  }
}

.autosuggest {
  border: 1px solid $blue-light;
  position: absolute;
  top: 3.7rem;
  right: 1.2rem;
  width: 45%;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.suggestItem {
  padding: 1rem;
  cursor: pointer;
  background-color: #fff;
  // border-bottom: 1px solid #d4d4d4;
  text-transform: capitalize;
  overflow: hidden;
  &:hover,
  .isActive {
    background-color: $blue-light;
  }
  &:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.isActive {
  background-color: $blue-light;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3000;
  width: 90%;
}

.popupBack {
  position: absolute;
  z-index: 1000;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.finalPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4000;
  width: 90%;
}
.finalPopupBack {
  position: absolute;
  z-index: 2000;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.truckComponentWrapper {
  // overflow: hidden;
  width: 100%;
  margin-bottom: 2rem;
}

.addressWrap {
  margin-bottom: 2rem;
}

.addressLabel {
  margin-bottom: 1rem;
}

.addressInput {
  width: 90%;
  margin: auto;
}

.address {
  @include inputWithSearch;
}
