@import '../../styles/colors.scss';

.invoiceMain {
  padding: 1.5rem 2rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: $box-shadows-1;
  margin-top: 2rem;
}

.invoiceWrapper {
  display: flex;
  margin-top: 3rem;
}

.invoiceForm {
}

.form {
  display: none;
}

.sales {
  flex: 0 0 50%;
  padding: 0.5px;
}

.searchWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.summaryWrapper {
  display: flex;
  margin-top: 3rem;
}

.buttonWrapper {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.button {
  flex: 0 0 50%;
  text-align: center;
}

.cashierName {
  text-align: right;
  margin-top: 3rem;
  & p:first-child {
    font-size: 2rem;
    font-weight: bold;
  }
}
